<?xml version="1.0"?>
<launch>



    <!-- send corrogated_box_two urdf to param server -->
    <param name="corrogated_box" command="$(find xacro)/xacro.py $(find gazebo_objects)/common/objects/corrogated_box.urdf" /> 

    <!-- spawn uploaded stool model -->
    <node name="corrogated_box" pkg="gazebo_ros" type="spawn_model" args="-urdf -param corrogated_box -model corrogated_box -x -0.6 -y -2.0 -z 0.0 -R 3.14 -P 0 -Y 0" respawn="false" output="screen" /> 

    <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////// -->


    <!-- send table_tv urdf to param server -->
    <param name="table_tv1" command="$(find xacro)/xacro.py $(find cob_gazebo_objects)/objects/table_tv.urdf" />
	
    <!-- spawn uploaded table_tv model -->
    <node name="spawn_table_tv" pkg="gazebo_ros" type="spawn_model" args="-urdf -param table_tv  -x 0.8 -y -1.5 -z 0.01 -R 0 -P 0 -Y 1.57 -model table_tv1" respawn="false" output="screen" />

    <!-- spawn uploaded table_tv model -->
    <node name="spawn_table_tv2" pkg="gazebo_ros" type="spawn_model" args="-urdf -param table_tv  -x 0.5 -y -5.5 -z 0.01 -R 0 -P 0 -Y 3.14 -model table_tv2" respawn="false" output="screen" />

    <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////// -->


    <!-- send lamp urdf to param server -->
    <param name="lamp" command="$(find xacro)/xacro.py $(find gazebo_objects)/common/objects/lamp.urdf" /> -->
	
    <!-- spawn uploaded object model -->
    <node name="lamp" pkg="gazebo_ros" type="spawn_model" args="-urdf -param lamp -model lamp -x -0.5 -y -3.0 -z 0.0" respawn="false" output="screen" /> 

    <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////// -->


    <!-- send chair_wicker urdf to param server -->
    <param name="chair_wicker" command="$(find xacro)/xacro.py $(find cob_gazebo_objects)/objects/chair_wicker.urdf" />
	
    <!-- spawn uploaded table model -->
    <!--<node name="spawn_chair_wicker" pkg="gazebo_ros" type="spawn_model" args="-urdf -param chair_wicker  -x 2.0 -y -2.0 -z 0.0 -R 0 -P 0 -Y 1.57 -model chair_wicker1" respawn="false" output="screen" /> -->
    <node name="spawn_chair_wicker" pkg="gazebo_ros" type="spawn_model" args="-urdf -param chair_wicker  -x -0.4 -y -4.0 -z 0.0 -R 0 -P 0 -Y 0 -model chair_wicke2" respawn="false" output="screen" />


</launch>
