<?xml version="1.0"?>

<launch>

    <!-- send chair_wicker urdf to param server -->
    <param name="box_wicker" command="$(find xacro)/xacro.py $(find hbrs_gazebo_objects)/objects/box_wicker.urdf" />
	
    <node name="spawn_box_wicker" pkg="gazebo_ros" type="spawn_model" args="-urdf -param box_wicker  -x 0.0 -y 0.0 -z 0.0 -R 0 -P 0 -Y 0.0 -model box_wicker1" respawn="false" output="screen" />

</launch>
