<?xml version="1.0"?>
<launch>

	<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////// -->
	<!-- send wall_big urdf to param server -->
    	<param name="wall_small" command="$(find xacro)/xacro.py $(find hbrs_gazebo_objects)/objects/wall_small.urdf" />

	<!-- spawn uploaded wall model -->
    	<node name="spawn_wall_8" pkg="gazebo_ros" type="spawn_model" args="-urdf -param wall_small  -x -1 -y 0 -z 1 -R 0 -P 0 -Y -1.57 -model wall_8" respawn="false" output="screen" />

</launch>

