<?xml version="1.0"?>
<launch>

	<!--<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true" launch-prefix="xterm -e gdb args"> -->
        <node pkg="semantic_planner_global" type="semantic_planner_global_node" respawn="false" name="semantic_planner_global_node" output="screen" clear_params="true" launch-prefix="xterm -e gdb --args">
        <!--<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true" > -->
       
    		<rosparam file="$(find semantic_planner_global)/cfg/costmap_common_params.yaml" command="load" ns="global_costmap" />
		<rosparam file="$(find semantic_planner_global)/cfg/global_costmap_params.yaml" command="load" />

                <remap from="/semantic_planner_global_node/make_plan_robot" to="semantic_planner_global/make_plan_robot"/>
                <remap from="/semantic_planner_global_node/make_plan_object" to="semantic_planner_global/make_plan_object"/>
               
  	</node>

</launch>

