<?xml version="1.0" ?> 
<robot name="ball" static="false">
  <link name="base_link">
  <inertial>
    <mass value="0.1" />
    <origin xyz="0 0 0.0" />
    <inertia ixx="0.1" ixy="0.0" ixz="0.0" iyy="0.11" iyz="0.0" izz="0.1"/>
  </inertial>
  <visual>
   <origin xyz="0 0 0.0" rpy="0 0 0" />
   <geometry>
     <sphere radius="0.25"/>
   </geometry>
  </visual>
  <collision>
   <origin xyz="0 0 0" rpy="0 0 0" />
   <geometry>
     <sphere radius="0.25"/>
   </geometry>
  </collision>     
  </link>

<gazebo>

	<material>Gazebo/Red</material>
	<static>false</static>
</gazebo>
</robot>

