<?xml version="1.0"?>
<robot name="door" static="false">
 


	<!-- frame -->
	<link name="frame">
		<inertial>
			<origin xyz="0 0 0" />
			<mass value="1.0" />
			<inertia ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="1.0"  iyz="0.0"  izz="1.0" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" />
			<geometry>
				<mesh filename="package://hbrs_gazebo_objects/Media/models/hinged_door/meshes/frame.dae"/>
			</geometry>
		</visual>
		<collision name="collision_1">
			<origin xyz="-0.025145 -0.03429 1.0541" />
			<geometry>
				<box size="0.05029 0.06858 2.10820" />
			</geometry>
		</collision>
		<collision name="collision_2">
			<origin xyz="-0.025145 0.95631 1.0541" />
			<geometry>
				<box size="0.05029 0.06858 2.10820" />
			</geometry>
		</collision>
		<collision name="collision_3">
			<origin xyz="-0.0251450 0.46482 2.07137" />
			<geometry>
				<box size="0.05029 0.06858 2.10820" />
			</geometry>
		</collision>
	</link>

	<!-- door -->
	<link name="door">
		<inertial>
			<origin xyz="0 0 0" />
			<mass value="1.0" />
			<inertia ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="1.0"  iyz="0.0"  izz="1.0" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" />
			<geometry>
				
			</geometry>
		</visual>
		<collision>
			<origin xyz="0.4569 0.0349 1.016" />
			<geometry>
				<box size="0.9144 0.04445 2.032" />
			</geometry>
		</collision>
		
	</link>






</robot>
