<?xml version="1.0"?>
<launch>


	<!--<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true" launch-prefix="xterm -e gdb args"> -->
        <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true" launch-prefix="xterm -e gdb --args">
        <!--<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true" > -->
       
    		<rosparam file="$(find pioneer3dx_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
                <rosparam file="$(find pioneer3dx_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    		<rosparam file="$(find pioneer3dx_navigation)/config/local_costmap_params.yaml" command="load" />
    		<rosparam file="$(find pioneer3dx_navigation)/config/global_costmap_params.yaml" command="load" />
               
    		
                <!-- <rosparam file="$(find pioneer3dx_navigation)/config/move_base.yaml" command="load"/>  -->

                <param name="planner_frequency" value="10.0"/>

                <remap from="/move_base/global_costmap/costmap" to="/global_costmap/costmap" />
                <remap from="/move_base/global_costmap/costmap_updates" to="/global_costmap/costmap_updates" />
    		
  	</node>

        
</launch>

